body{
    background-color: beige;
}

main{
    display:flex;
    flex-direction: column;
    justify-content: center;

}
#background {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    filter: brightness(1.2);
    z-index: -2;
}

.navigation-bar{
    background-color:aquamarine;
    color:red;
    display:flex;
    justify-content: space-between;
}
.logo-image{
    height:50px;
    width:auto;
}
.right-links{
    display:flex;
    align-items: center;
    gap:15px;
}

header{
    background-color: blue;
    display: flex;
    justify-content: space-around;
    padding:30px;
}
.left-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header-image{
    width:auto;
    height:300px;
}
h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    padding:0;
    margin:0;
    text-align: center;
}

.projectlist{
    background-color: brown;
    padding:50px;
}

.all-projects{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#quote-background {
    border-radius: 1em;
    padding: 7px;
    color: white;
    bottom: 5px;
}
.quote-background {
    background-image: url(./pictures/54800.jpg);
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    filter: brightness(1.1);
}
.quote{
    background-image: url(./pictures/54800.jpg);
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    display:flex;
    justify-content:flex-end;
    flex-wrap:wrap;
    padding:50px;
}
quote{
    font-size: 25px;
    font-style: light italic;
    color:#1F2937;
    line-height: 150%;
}
figcaption{
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
}
.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.closing-section{
    background-color: darkorange;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
h2{
    padding:0;
    margin:0;
}

.wrapper{
 background-color: lightskyblue;
 border-radius: 20px;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 padding:30px;
flex:0 1 800px;
}

footer{
    background-color: darkseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    font-size: 30px !important;
    width: 70px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-github{
    background: #1F2937;
    color:white;
  }